{{template "base" .}} 

{{define "todo"}}
<li id="{{ .Id }}">
    <form hx-delete="/todos/{{ .Id }}" hx-target="#{{ .Id }}" hx-swap="outerHTML">
        {{ .Title }}
        <button type="submit">Delete</button>
    </form>
</li>
{{end}} 

{{define "content"}}
<div>
    <form hx-post="/todos" hx-target=".todos" hx-swap="beforeend" hx-on::after-request="this.reset()">
        <input id="title" name="title" type="text" class="focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" />
        <button type="submit">Add</button>
    </form>

    <div>
        <ul class="todos">
            {{range .}} {{template "todo" .}} {{end}}
        </ul>
    </div>
</div>
{{end}}
